input[type="text"],input[type="email"],input[type="password"],input[type="file"]{
    border-radius: 30px;
    border: 2px solid pink;
    height: 38px;
}

.btn .btn-grey{
    background-color: green;
}

a{
    text-decoration: none;
    color: black;
    font-size: medium;
  }